#education1,#education2,#education3,#education4,#education5,#education6,#education7,#education8,#education9,#education10,#employment1,#employment2,#employment3,#employment4,#employment5,#employment6,#employment7,#employment8,#employment9,#employment10
	{
	display: none
}


body {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}



html, body {
    margin: 0;
    height: 100%;
}



.error{
	color:red;
}

#application{
	border: 1px solid white;
    background: #f0f9ff;
	color: black;
   -webkit-border-radius: 3%;
	-moz-border-radius: 3%;
	border-radius: 3%;
	padding: 2%;
}

.main{
    margin:2%;
}
.input-group{
	margin:2%;
}

legend{
	color:#85E0FF;
}

lable {
color:white;
}

.apply-button {
	margin-top:2%;
}