body {
	background: url('../img/suns.jpg') no-repeat fixed center;
	background-size: cover;
}

.item {
	margin-top: 2%;
	paddimg: 1%;
}

.item input {
	color: #b2c831;
	font-size: 1.8em;
}

.saveBut{
	display:none;
}